{% extends 'base.html.twig' %}

{% block title %}
	Exercise - Fitverse
{% endblock %}


{% block javascripts %}
	{{ parent() }}


 <script>

		document.addEventListener("DOMContentLoaded",()=>{
		    const dialog = document.querySelector("dialog");
		    const showButton = document.querySelector("#testModal");
		    const closeButton = document.querySelector("dialog button");
		
		    showButton.addEventListener("click", () => {
		    dialog.showModal();
		    });
		
		    closeButton.addEventListener("click", () => {
		    dialog.close();
		    });

            checkTipOfTheDay();
		    
		
		})
		</script>

	 <script>
		function checkTipOfTheDay() {
		  const key = 'tip_of_the_day';
		  const storedValue = localStorage.getItem(key);
		  const today = new Date().toISOString().split('T')[0]; // Format: 'YYYY-MM-DD'
		
		  if (!storedValue || new Date(storedValue) < new Date(today)) {
	
		    showModal();
		    localStorage.setItem(key, today);
		  }
		}
	
	
	    function showModal(){
			const dialog = document.querySelector("dialog");
	        dialog.showModal()
	
	    }
		</script>


{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{# Your CSS goes here #}


	<style>
		dialog {
            border:none;
			.branding {
				display: flex;
				align-items: center;
				justify-content: start;


				img {
					height: 2rem;
				}
			}

            p{
                font-size:1.3rem;
            }
		}

		dialog::backdrop {
			background-image: linear-gradient(45deg, #000000, /* black */ #1a1a1a, /* very dark gray */ #2e2e2e, /* dark gray */ #444444, /* medium-dark gray */ #5c5c5c, /* medium gray */ #a6a6a6, /* light gray */ #ffffff /* white */);
			opacity: 0.75;
		}
	</style>

{% endblock %}


{% block body %}
	{% include 'navbar.html.twig' %}

	<div data-context="exercise">
		<h1>Exercise Page</h1>

		<!-- Trigger button -->
		<button id="testModal">Show the dialog</button>

		<!-- Modal dialog -->
		<dialog class="shadow">
			<div class="branding">
				<img src="/fitverse-black.png">
				<span>| Tip of the day ⚡</span>
			</div>
			<p>{{ tip }}</p>
			<button class="btn btn-secondary" autofocus>Dismiss</button>
		</dialog>
	</div>
{% endblock %}
