{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}

  {% include 'navbar-admin.html.twig' %}
  <div class="container py-5">
    <h1 class="text-center mb-4">Edit Discount</h1>
    <div class="card shadow p-4">
      {% set button_label = 'Update' %}
      {{ include('Back/Shop/product_discount/_form.html.twig') }}
    </div>
  </div>
{% endblock %}
