{% extends 'base.html.twig' %}
{% block title %}Vérifiez votre e-mail{% endblock %}
{% block body %}
<div class="container py-5">
    <img src="{{asset('images/landing/fitverse-logo.png')}}" alt="Fitverse logo" style="height:4rem;"><br>

  <h2>Check your inbox</h2>
  <p>If the account exists, you will recieve an e-mail with the password reset instructions.</p>
</div>
{% endblock %}
