{% extends 'base.html.twig' %}
{% block title %}Vérifiez votre e-mail{% endblock %}
{% block body %}
<div class="container py-5 text-center">
  <h2>Vérifiez votre boîte mail</h2>
  <p>Si un compte existe, vous recevrez un e-mail contenant un lien de réinitialisation.</p>
</div>
{% endblock %}
