{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block javascripts %}
{{ parent() }} 
{# Your javascript goes here #}
<script>
   
</script>

{% endblock %}


{% block stylesheets %}
{{ parent() }} 
{# Your CSS goes here #}
<style>

</style>
{% endblock %}



{% block body %}
{% include 'navbar.html.twig' %} 

<body data-context="shop">
<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn">Delete</button>
</form>
{# data-context value should be one of the values "exercise","gym","events","shop","nutrition" or "user" depending on your module  #}
{# you HTML goes here  #}


</body>

{% endblock %}