{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard - Fitverse
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# Your javascript goes here #}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{# Your CSS goes here #}
	<link rel="stylesheet" href="{{ asset('/styles/admin.css') }}">
{% endblock %}


{% block body %}

	<div class="admin-dashboard-layout">

		{% include 'back/admin/sidenav.html.twig' %}

		<div class="container">
			<h1>Admin dashboard</h1>


			<div class="alert alert-secondary">
				Manage and oversee all aspects of the platform
			</div>


			<figcaption class="blockquote-footer">
				Statistics
			</figcaption>


			<div class="overview-stats">
				<div class="card">
					<div class="card-body">
						<h3>7</h3>
						<h2>Users</h2>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h3>7</h3>
						<h2>Workouts</h2>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h3>7</h3>
						<h2>Orders</h2>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h3>7</h3>
						<h2>Events</h2>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h3>7</h3>
						<h2>Gyms</h2>
					</div>
				</div>
			</div>


		</div>

	</div>


	<body></body>

{% endblock %}
