{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard - Fitverse{% endblock %}

{% block javascripts %}
{{ parent() }} 
{# Your javascript goes here #}
<script>
   
</script>

{% endblock %}


{% block stylesheets %}
{{ parent() }} 
{# Your CSS goes here #}
<style>

</style>
{% endblock %}



{% block body %}
{% include 'navbar-admin.html.twig' %} 

<body data-context="default">

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">FITVERSE</a></li>
    <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
  </ol>
</nav>
        <a href="{{ path('admin_home') }}" class="btn bg-warning font-weight-bold">Go to SHOP</a>




</body>

{% endblock %}