{% extends 'back/admin/dashboard-skeleton.html.twig' %}

{% block title %}Exercise Details{% endblock %}



{% block info %}
This section allows you to manage all aspects of the workouts included in the platform.
{% endblock %}


{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('app_workout_index_admin') }}">Workouts</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>

	.table{
		text-align: center;
        vertical-align: middle;
	}


</style>
{% endblock %}

{% block content %}


{% endblock %}

















