html {
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none

  }

*{
    
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  

  body{
    background:black;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }

  html::-webkit-scrollbar {
    display: none;
  }



  
.navbar{
    background-color: transparent;
    position: sticky;
    top: 0;
    background-color: transparent;

}


.login-action-button{
    background-color: #92ff44; 
    outline: 1px #92ff44;


    a {
        color: black;
    }

    &:hover{
        outline: 2px solid #92ff44;
        background-color: black;
        a{
            color: white;
        }
    }
}


.landing-hero{

    padding: 2rem 1rem;
    background-image: url("hero2.png");
    background-size: cover;
    background-position: center;
    height: 50lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        width: 12rem;
        
    }
    
    .hero-content{
        width: 42lvw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        h1{
            font-size: 3rem;
            color: #92ff44;
        }

        h2{
            font-size: 1.5rem;
        }

        
    }



}


.btn-cta-start{
    background-color: #92ff44;
    color: black;
    outline: 3px solid transparent;
    transition: all .1s linear;
    width: fit-content;
    &:hover{
        background-color: #80fb28;
        color: black;
        outline: 3px solid #1e272e;
    }
}



.landing-shop{
    padding: 2rem;
    background-color: black;

    .landing-shop-text{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;

        p{
            font-size: 1.2rem;
        }
    }

    .landing-shop-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 0 3em;
        img{
            width: 8rem;
            position: relative;
            top: 5rem;
            height: 8rem;
            object-fit: contain;
            
        }

        span{
           width: 15rem;
           min-width: 150px;
           text-align: center;
           background-color: #141414;
           font-size: 1.33rem;
           padding: 6rem .5rem .5rem .5rem;
           
        }
        
    }

}


.landing-gym{
    height: 50lvh;
    background-image: url("hero-gym.png");
    backdrop-filter: blur(16px);
    background-repeat: no-repeat;
    background-size: cover;
    

    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .gym-search-box{
        width: fit-content;
        font-size: 1.5rem;
        border-radius: 1rem;
    }
}

.search-function-promo {
   position: relative;
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 5rem;
   align-items: center;
   padding: 2rem;
   min-height: 30rem;
   


   .gym-search-promo{
    display: flex;
    flex-direction: column;
   }
    #screenshots-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        .screenshot-item{
            position: absolute;
        }

        img{
            width: 20rem;
            height: auto;
            border-radius: 1rem;
        }
    }
}


.screenshot-item{
    transition: opacity 1s linear;
}

.screenshot-inactive{
    opacity: 0;
}

.screenshot-active{
    opacity: 1;
}


.hero-leading-icon{
    height: 3rem;
    margin-bottom: .33rem;
}


.separator{
    padding-top: 3rem;
    background-color: black;
    hr{
        border: .2rem solid #F09A37;
    }
    img{
        position: relative;
        left: calc(50% - 3rem);
        bottom: 2.5rem;
    }
}


.landing-events{
     height: 50lvh;
     background-image: url("hero-events.jpg");
     min-height: 25rem;
     background-size: cover;
     background-repeat: no-repeat;

     display: grid;
     grid-template-columns: 45% auto;
     align-items: center;

     .landing-events-text{
        padding: 2rem;

        animation: tada ease-out;
        animation-timeline: view();
        animation-range: entry 10% cover 40%;


     }

}



.landing-nutrition{





    height: 50lvh;
    background-image: url("hero-nutrition.png");
    min-height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 45% auto;
    align-items: center;

    padding: 2rem;

    .landing-nutrition-text{
        animation: tada ease-out;
        animation-timeline: view();
        animation-range: entry 10% cover 40%;
    }
}



.landing-exercise{






    background-image: url("hero-exercise.png");
    min-height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 45% auto;
    align-items: center;
    padding: 2rem;
    height: 50lvh;

    .landing-exercise-goals{



        display: grid;
        grid-template-columns: repeat(3,8rem);
        grid-template-rows: repeat(2,4rem);
        gap: 3rem;
        justify-content: center;



        &>div{
         width: 3rem;
         height: 3rem;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         text-wrap: nowrap;
         gap: .5rem;
             span{
            text-align: center;
         }
         i{
            font-size: 1.5rem;
         }
        }
    }
}



.landing-cta{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100lvh;
    .cta-icons{
        gap: .5rem;
        img{
            height: 3rem;
        }
    }
    .cta-content{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }
}


@keyframes appear{
    from{
        opacity: 0.5;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


@keyframes tada{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}





@keyframes slideLeft{
    from{
        opacity: 0.5;
        transform: translate(-100%,0);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
    }
}