
<div class="recommend-carousel" data-base-product="{{ product.id }}">
  <h5 class="mt-4">You might also like</h5>
  <div class="d-flex overflow-auto gap-3 py-2">
    {# JS will inject cards here #}
  </div>
</div>
