.admin-dashboard-layout{
    width: 100lvw;
    display: grid;
    grid-template-columns: 17lvw  auto;

    .container{
        padding-top: 1rem;
    }

}





aside{
    padding: 1.44rem  0;
    background-color: #222529 !important;
    height: 100lvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    img.logo{
        height: 2rem;
    }

    ul{
        padding-left: 0;
        margin: 1rem 0;
        color:white;
        list-style-type: none;
        li > a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8rem!important;
            img{
                height: 1.5rem;
            }
        }
    }



    .aside-bottom{
        color: white;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        position: absolute;
        bottom: 0 ;
        padding-bottom: 1rem;        
        button{
            all: unset;
        }

        span{
            line-height: 0.9rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }

    
}


.overview-stats{
    width: 100%;
    display: grid;

    grid-template-columns: repeat(5,1fr);
    gap: .5rem;
}

.blockquote-footer{
    margin-top: unset;
}