.nav-safe{
  display: block;
  margin-top: 7rem;
}




.navbar-enhance{
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100lvw;
  flex-direction: column;
  color: white;
  overflow: hidden;
  position: fixed;
  top: 0;



  &:hover{
    .hover-menu{
      height: auto;
      padding: 1rem;
      padding-top: 2rem;
      position: relative;
      bottom: 1rem;

     
    }
  }
}


.navbar-enhance > .hover-menu {
  height: 0;
  padding: 0;
  background-color: #222529;
  width: 100% ;
  width: 80lvw;

  border-bottom-left-radius: 0.875rem;
  border-bottom-right-radius: 0.875rem;


  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:  
    "x y z"
    "x t p";

  gap:1rem;
  


  &>div:first-of-type{ grid-area: x; background: lightblue; }
  &>div:nth-of-type(2) { grid-area: y; background: lightgreen; }
  &>div:nth-of-type(3){ grid-area: z; background: lightcoral; }
  &>div:nth-of-type(4){ grid-area: t; background: lightyellow; }

  div.workout{
    background-image: url("../images/landing/hero-exercise.png");
    background-position-x:98%;
    padding: .5rem;
  }

  div.nutrition{
    background-image: url("../images/landing/hero-nutrition.png");
    background-position-x:98%;
    padding: .5rem;
    
  }

  div.events{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/landing/sport-event.png");
    background-position-x:98%;
    padding: .5rem;
  }

  div.gym{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/landing/sport-event.png");
    background-position-x:98%;
    padding: .5rem;
  }


  div.shop{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/landing/sport-tile.png");
    background-position-x:98%;
    padding: .5rem;
    object-fit: cover;
    background-size: contain;
  }

  
  div.more{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/landing/more.png");
    background-position-x:98%;
    padding: .5rem;
    background-size: contain;

  }









  div{
    border-radius: 0.875rem;
    padding: 1rem;

    span.title{
      font-size: 2.5rem;
    }

    ul{
      list-style-type: none;
      a{
        text-decoration: none;
      color: white;

      }
    }
  }




}

.fitverse-navbar {
  border-top-left-radius: 0.875rem;
  border-top-right-radius: 0.875rem;

  border-radius: 0.875rem;





  margin-top: .5rem;

  z-index: 9999;
  background-color: #222529 !important;
  border-bottom: 4px solid #9ff856;
  transition: border 0.5s linear;
  width: 100%;
  top: 0px;
  backdrop-filter: blur(15px);
  width: 80lvw;

  

  

  .navbar-brand > img {
    width: 10rem;
    margin: 0 2rem;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    flex-direction: column;

    span.material-symbols-outlined {
      font-size: 1.7rem;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1rem;

    width: 4.5rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    * {
      transition: color 0.5s linear;
    }
  }

  .nav-item.gym:hover,
  .nav-item.gym.active {
    * {
      color: #3478f6;
    }
  }

  .nav-item.nutrition:hover,
  .nav-item.nutrition.active {
    * {
      color: #aec867;
    }
  }

  .nav-item.exercise:hover,
  .nav-item.exercise.active {
    * {
      color: #69d2c8;
    }
  }

  .nav-item.shop:hover,
  .nav-item.shop.active {
    * {
      color: #f09a37;
    }
  }

  .nav-item.events:hover,
  .nav-item.events.active {
    * {
      color: #eb4e3d;
    }
  }

  .nav-item:not(.active) {
    transition: all 0.33s linear;
    position: relative;
    scale: 0.8;
  }

  .user-nav-menu {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 15rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;

    .user-badge {
      border: 2px solid grey;
      border-radius: 100%;
      padding: 1rem;
    }
  }

  .user-nav-menu.open {
    background-color: white;
    color: black;
    border-top-right-radius: 0.33rem;
    border-top-left-radius: 0.33rem;

    box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1),
      /* left */ 4px 0 6px -1px rgba(0, 0, 0, 0.1),
      /* right */ 0 -4px 6px -1px rgba(0, 0, 0, 0.1); /* top */
  }

  .navbar-collapse.collapse.show {
    align-items: center;
  }

  .user-nav-menu-content {
    position: absolute;
    z-index: 1001;
    width: 15rem;
    right: 1rem;
    top: 5rem;
    cursor: pointer;
    border-top-right-radius: 0.33rem;
    border-top-left-radius: 0.33rem;

    padding: 0 0.5rem 1rem 0.5rem;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      flex-direction: column;
      gap: 1rem;

      li > a {
        text-decoration: none;
        font-size: 1rem;
        line-height: 1rem;
        display: grid;
        gap: 0.7rem;

        grid-template-columns: 1fr 8rem 1fr;
        align-items: center;
        padding: 0 1rem;
        color: unset;

        span.material-symbols-outlined:first-of-type {
          border-radius: 100%;
          background-color: #e4e5ea;
          color: #55575a;
          padding: 0.33rem;
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      li {
        transition: all 0.33s;
        opacity: 0;
      }

      li:hover {
        transform: scale(1.03);
      }
    }
    display: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .logout-btn {
      a {
        all: unset;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .user-nav-menu-content.open {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    li,
    button {
      animation: navbarItemFade 0.5s ease-in-out forwards;
    }
  }
}

@keyframes navbarItemFade {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.admin-offcanvas{
  padding-top: 6rem!important;
}


.navbar-admin-toggle{
    all: unset;
    img{
        width: 10rem;
        margin: 0 2rem;
    }
}

aside{
  ul{
    list-style-type:none;
    li{
      a{
        display: none;
        width: fit-content;
        text-decoration: none;
        color: unset;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: .5rem;
      }
    }
  }
}


.fitverse-navbar.admin{
  span.admin-badge{
    color:white;
    position: relative;
    right: 1rem;
  }
}