{% extends 'base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit Recipe</h1>
        </div>

        {{ include('recipe/_form.html.twig') }}
    </div>
{% endblock %} 