{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-warning">
            Payment was canceled. You can try again if you wish.
        </div>
    </div>
{% endblock %}