{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-success">
            Payment was successful! Thank you for your purchase.
        </div>
    </div>
{% endblock %}