{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('/styles/admin.css') }}">
{% endblock %}

{% block body %}
<div class="admin-dashboard-layout">
    <div id="sidenavAccordion">
        {% include 'back/admin/sidenav.html.twig' %}
    </div>

    <div class="container py-5">
        <h1 class="mb-4">Create New Order</h1>

        {{ include('order/_form.html.twig') }}

        <a href="{{ path('app_order_index') }}" class="btn btn-secondary mt-3">Back to list</a>
    </div>
</div>
{% endblock %}
