{% extends 'base.html.twig' %}

{% block title %}Navigation example{% endblock %}

{% block body %}
<div class="fitverse-navbar">
    
</div>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/edu-r/OneDrive/Dokumente/fitverse-symfony/src/Controller/NavigationExampleController.php</code></li>
        <li>Your template at <code>C:/Users/edu-r/OneDrive/Dokumente/fitverse-symfony/templates/navigation_example/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
