{% extends 'base.html.twig' %}

{% block title %}Oops!{% endblock %}


{% block body %}

<div class="access-denied container">
<img class="logo" src="/404.png">
<img src="/access-denied.png">

<h3>! We couldn’t find the page you were looking for. It might have been moved or no longer exists. Try going back to the homepage or checking the link again.</h3>
<a  class="btn btn-primary" href="/">Back to home page</a>
</div>
{% endblock %}


{% block stylesheets %}
<style>
    .access-denied {
        display:flex;
        flex-direction:column;
        align-items:start;
        img.logo{
            height:2rem;
            margin-bottom:3rem;
        }
        img {
            height:15rem;
        }
    }
</style>

{% endblock %}
