<p>Bonjour {{ user.last_name }},</p>
<p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous :</p>
<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
<p>Ce lien expire dans une heure.</p>
<p>Si vous n’avez pas fait cette demande, ignorez cet e-mail.</p>
