<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="turbo-visit-control" content="reload">
	<noscript>
	Firverse dashboard requires Javascript to run properly. <br>
	Please re-enable javascript or use a compatible browser.
	</noscript>
	<title>
		{% block title %}Fitverse{% endblock %}
	</title>
	<link rel="icon" href="/favicon.ico">

	{% block javascripts %}
	<!-- Google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Train+One&display=swap"
		rel="stylesheet">


	<!-- Material Symbols outlined -->
	<link
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=all"
		rel="stylesheet">

	<!-- Less CSS pre-processor -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.2.2/less.min.js"
		integrity="sha512-RvWSOL32duQKqvfcdl2aKktT2VHgL1Nst/cO7EzPhuuVSMKDu86eXkAEi9AUJjSzcpA4XZfK8EaPNNzIP7MlBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>

	<!-- Font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		crossorigin="anonymous" referrerpolicy="no-referrer" />


	<!-- Notyf -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/notyf/3.10.0/notyf.min.js"
		integrity="sha512-467grL09I/ffq86LVdwDzi86uaxuAhFZyjC99D6CC1vghMp1YAs+DqCgRvhEtZIKX+o9lR0F2bro6qniyeCMEQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notyf/3.10.0/notyf.min.css"
		integrity="sha512-ZX18S8AwqoIm9QCd1EYun82IryFikdJt7lxj6583zx5Rvr5HoreO9tWY6f2VhSxvK+48vYFSf4zFtX/t2ge62g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />


	<script>
		function showToast(type, message, duration = 3000) {
			if (typeof Notyf !== 'undefined') {
				const notyf = new Notyf({
					duration: duration,
					types: [
						{
							type: 'info',
							background: '#2f86eb',
							icon: {
								className: 'material-symbols-outlined text-white',
								tagName: 'span',
								text: 'info',
							}
						}
					]
				});

				switch (type) {
					case 'error': notyf.error(message);
						break;
					case 'success': notyf.success(message);
						break;
					case 'info': notyf.open({ type: 'info', message });
						break;
					default: notyf.open({ type: 'info', message }); // fallback
				}
			} else {
				alert(`${type.toUpperCase()
					}: ${message}`);
			}
		}
	</script>
	{% endblock %}
	{% block stylesheets %}
	<style>
		* {
			font-family: "Mulish", sans-serif;
			font-optical-sizing: auto;
			font-style: normal;
		}

		button>a {
			all: unset;
		}


		.form-control:focus,
		.form-select:focus,
		.form-check-input:focus {
			border-color: transparent !important;
			outline: 0 !important;
			box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
		}


		.btn-fitverse {
			background-color: #89b55a !important;
			border-color: #eeeeee !important;
			color: white;
		}
	</style>

	{% endblock %}
</head>

{% for message in app.flashes('error_message') %}
        <script>
        document.addEventListener("DOMContentLoaded",(event)=>{
            showToast("error","{{ message }}")
        })
    </script>
{% endfor %}


{% for message in app.flashes('success_message') %}
        <script>
        document.addEventListener("DOMContentLoaded",(event)=>{
            showToast("success","{{ message }}")
        })
    </script>
{% endfor %}


{% for message in app.flashes('info_message') %}
        <script>
        document.addEventListener("DOMContentLoaded",(event)=>{
            showToast("info","{{ message }}")
        })
    </script>
{% endfor %}



<body>
	{% block body %}{% endblock %}
</body>

</html>
</head>

</html>