{% extends 'base.html.twig' %}

{% block title %}Modifier l'abonnement{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="container py-5" style="max-width: 800px;">
        <h1 class="text-center mb-4 text-white">Modifier l'abonnement</h1>

        {{ include('membership/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_membership_index') }}" class="btn btn-info"> Retour </a>
            {{ include('membership/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
