{% extends 'base.html.twig' %}

{% block title %}New Exercice{% endblock %}

{% block body %}
    <h1>Create new Exercice</h1>

    {{ include('/back/exercise/_form.html.twig') }}

    <a href="{{ path('app_exercice_index_admin') }}">back to list</a>
{% endblock %}
