{% extends 'base.html.twig' %}

{% block title %}Welocome  - Fitverse{% endblock %}

{% block javascripts %}
{{ parent() }} 
{# Your javascript goes here #}
<script>
   
</script>

{% endblock %}


{% block stylesheets %}
{{ parent() }} 
{# Your CSS goes here #}
<style>
.greeting{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
</style>
{% endblock %}



{% block body %}
{% include 'navbar.html.twig' %} 

<body data-context="default">

<div class="greeting">
<img src="https://cdn3d.iconscout.com/3d/premium/thumb/personal-trainer-3d-icon-download-in-png-blend-fbx-gltf-file-formats--fitness-sport-training-man-lifestyle-avatars-pack-fashion-accessories-icons-7621938.png">
{% set user = app.user %}
<h2>Welcome to fitverse! , {{ user.lastName }}</h2>
<p>We are glad to see you here.</p>
<p>Choose a task by hovering on the top menu!</p>
</div>
</body>

{% endblock %}