{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard - Fitverse{% endblock %}

{% block javascripts %}
{{ parent() }} 
{# Your javascript goes here #}
<script>
   
</script>

{% endblock %}


{% block stylesheets %}
{{ parent() }} 
{# Your CSS goes here #}
<style>

</style>
{% endblock %}



{% block body %}
{% include 'navbar.html.twig' %} 

<body data-context="default">

<h2>Under construction</h2>



</body>

{% endblock %}